@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;1,400;1,500;1,700;1,800;1,900&family=Nova+Mono&display=swap');

.about {
    background-image: linear-gradient(to bottom, rgb(0, 0, 73), black);
    height: 100vh;
    color: #9FEE00;
    font-family: 'Alegreya', serif;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .text_about {
    opacity: 1;
    margin: 0rem 10rem;
    text-align: justify;
    font-size: 2em;
    animation: fadeinText 1s;
    line-height: 2.5rem;
}

.left {
    position: fixed;
    bottom: 0;
    left: 0;
}

@keyframes fadeinText {
    0% {
        opacity: 0;
        font-size: 1.5rem;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        font-size: 2rem;
    }

}

@media (max-width:992px) {
    .about {
        height: 95vh;
    }

    .about .text_about {
        opacity: 1;
        margin: 0rem 2rem;
        text-align: justify;
        font-size: 1.2em;
        animation: fadeinText 1s;
        line-height: 2rem;
    }

    @keyframes fadeinText {
        0% {
            opacity: 0;
            font-size: .5rem;
        }

        50% {
            opacity: .5;
        }

        100% {
            opacity: 1;
            font-size: 1.2rem;
        }
    }
}